<title>
    <%= title %>
</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<!-- <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> -->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
