<html  lang='ko-KR'>
  <head>
    <title>
     KT iframe 서비스 도움말
    </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  </head>
  <body>
<!-- GNB Start-->
<nav id="gnb">
    <div class="logo">
           <a href="http://www.kt.com" target="_blank"><img src="images/logo.png" style="margin-top: 14px;" alt="KT로고"></a>
    </div>
    <div class="inner">
        <div>
            <a href="#" class="gnbtitle">KT iFrame 서비스 도움말</a>
        </div>   
        <div class="formclass">
            
        </div>
           <div> </div>
</div>    
   
        <!-- <div class="pop_opacity"></div> -->
        <div class="pop">
         <div><h1>◆ KT iFrame 서비스 도움말 ◆</h1></div>
            1. iframe url에 검증할 이벤트 page URL을 입력 <br><br>
            2. iframe Height 에 이벤트 page의 height를 입력 <br><br>
               &nbsp;&nbsp;&nbsp;&nbsp;참고)page의 height 구하는 방법 <br><br>
               &nbsp;&nbsp;&nbsp;&nbsp;chrome에서 페이지 접속 > 개발자 도구(F12) > Console > document.body.scrollHeight <br><br>
               &nbsp;&nbsp; &nbsp;&nbsp;<img src="./images/help1.png" alt="도움말1" width="700"> <br><br>
            3.  &nbsp;&nbsp;  <input type="button" value="확인"> 버튼 클릭 <br><br>
            4. iframe Height 기본은 20000으로 지정되어 있음<br>
         
        
    </div>  

 
  

<footer>


</footer>

</body>
</html>